$font-primary: 'Raleway', 'Helvetica', 'Arial', sans-serif
$font-secondary: 'Source Code Pro', 'Courier New', monospace

$regular: 400
$medium: 500
$bold: 600

$red: #FF0400
$white: #FFFFFF
$grey: #F0F0F0
$black: #000000
$beige: #F6F4F2

$transition-reveal: cubic-bezier(0.770, 0.000, 0.175, 1.000)