html 
  font-size: 62.5%

body
  font-size: 1.6rem
  font-family: $font-body
  color: $black

p
  line-height: 2.4rem

h1
  font-family: $font-heading
  font-size: 2.4rem
  line-height: 3.2rem
  @media screen and ( min-width: 576px )
    font-size: 3.2rem
    line-height: 4rem
  @media screen and ( min-width: 992px )
    font-size: 4rem
    line-height: 5.6rem

h2
  font-size: 1.4rem
  line-height: 2.4rem
  text-transform: uppercase
  font-weight: $bold
  @media screen and ( min-width: 576px )
    font-size: 1.6rem
    