#page-container
  overflow: hidden

input, textarea, button
  border-top: none
  border-left: none
  border-right: none
  border-bottom: none

body
  background-color: $white

section
  &:not(#intro)
    margin-top: 8rem
    @media screen and ( min-width: 576px )
      margin-top: 10.4rem
    @media screen and ( min-width: 992px )
      margin-top: 16rem