#page-container
  overflow: hidden

input, textarea, button
  border-top: none
  border-left: none
  border-right: none
  border-bottom: none

body
  background-color: $white

section
  &:not(#intro)
    margin-top: 16rem