:root {
    --neutral-black: #000;
    --bright-orange: #FF0400;
    --light-grey: #F0F0F0;
    --dark-grey: #848484;
    --light-pink: #EDD7DF;
    --neutral-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--neutral-black);
}

li {
    list-style-type: none;
}

/* To top */
.to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: translate(0, 150%);
    transition: transform 0.5s ease-out;
    z-index: 2;
}

.btn--to-top {
    font-family: 'Source Code Pro', monospace;
    background: black;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
}

/* Typewriter */
.typewriter--wrapper {
    margin: 90px 0 30px 0;
}

.typewriter {
    display: inline;
    border-right: .1em solid var(--bright-orange);
    font-size: 1.5625em;
    font-weight: 400;
    animation: blink-caret .5s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--neutral-black) }
}

/* Loader */
.loader {
    background-color: var(--neutral-white);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    transition: all 0.4s ease;
}

.loading {
    text-transform: uppercase;
    font-weight: 400;
    animation: pulse 1s infinite;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
}

@keyframes pulse {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.count {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-weight: 100;
    font-size: 4em;
    margin-top: -1.33em;
    color: var(--light-grey);
}

.done {
    top: 0;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

/* Buttons */
.btn--group {
    display: flex;
    justify-content: center;
    margin: 0 0 15px 0;
}

.btn {
    font-family: 'Source Code Pro', monospace;
    background-color: var(--light-grey);
    padding: 10px 15px;
    box-shadow: 4px 4px 0 var(--bright-orange);
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--bright-orange);
    box-shadow: 4px 4px 0 var(--light-grey);
}

.btn--group .btn{
    margin: 0 15px;
}

/* Typography */
.display1 {
    position: relative;
    display: inline;
    font-size: 1.875em;
    font-weight: 500;
    color: var(--bright-orange);
}

.red-flash {
	width: 100%;
	height: 100%;
	background-color: #FF0400;
	position: absolute;
	animation-duration: 1000ms;
	/* animation-name: red-flash; */
	animation-fill-mode: forwards;
	transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
@keyframes red-flash {
	0% { transform: scale3d(0, 1, 1); transform-origin: left center; }
	50% { transform-origin: left center; }
	51% { transform: scale3d(1, 1, 1); transform-origin: right center; }
	100% { transform: scale3d(0, 1, 1); transform-origin: right center; }
}

.display1:after {
    width: 50px;
    height: 50px;
    background-color: var(--dark-grey);
}

.display2 {
    font-size: 1.5625em;
    font-weight: 500;
}

.display3 {
    font-size: 1.25em;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

nav {
    transform: translate(100%, 0);
    background-color: var(--light-grey);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}

nav.active {
    transform: translate(0, 0);
}

.nav__list {
    text-align: center;
}

.nav__item {
    font-size: 2.1875em;
    margin: 0 0 15px 0;
}

.nav__link {
    font-weight: 600;
    color: var(--bright-orange);
}

.menu {
    position: relative;
    z-index: 5;
}

.logo {
    position: relative;
    z-index: 5;
    font-family: 'Source Code Pro', monospace;
}

.line {
    width: 20px;
    height: 1px;
    margin: 3px 0;
    background: var(--neutral-black);
    transition: all 0.2s ease-out;
}

.line.active {
    position: absolute;
    top: 0;
    right: 0;
}

.first {
    transform: rotate(45deg);
}

.second {
    transform: rotate(-45deg);
}

.third {
    opacity: 0;
}

/* Intro */
.intro {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.intro__img {
    width: 70%;
    margin: 0 auto;
    height: auto;
    transform: scale(0.5);
    transition: transform 0.5s ease-out;
}

.intro__container {
    transition: all 0.5s ease-out;
}

.intro .display1 {
    margin: 0 0 30px 0;
}

.intro .display2 {
    margin: 0 0 50px 0;
}

/* Work */
.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-pink);
    padding: 20px;
    position: relative;
}

.work__img {
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.work .display2 {
    font-family: 'Source Code Pro', monospace;
    margin: 20px 0;
    text-align: center;
}

/* Carousel */
.slider {
    width: 90%;
    position: relative;
}

.slider__item {
    height: 200px;
    position: relative;
}

.slider__img {
    width: 70%;
    object-fit: cover;
    margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--light-grey);
    height: 100vh;
    padding: 20px;
}

.about__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

/* .about-me {
    background-color: var(--neutral-white);
    padding: 15px;
    text-align: justify;
    box-shadow: 4px 4px 0 var(--bright-orange);
    margin: 0 0 50px 0;
} */

.about-me {
    margin: 0 0 50px 0;
}

.about-me p {
    margin: 15px 0 0 0;
    line-height: 1.6;
    text-align: justify;
}

.about__container .display3 {
    margin: 0 0 30px 0;
}

.my-skills {
    background-color: var(--neutral-white);
    padding: 15px;
    text-align: justify;
    box-shadow: 4px 4px 0 var(--bright-orange);
}

.skills--container p {
    font-family: 'Source Code Pro', monospace;
    margin: 0 0 20px 0;
}

/* Contact */
.contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.contact__container {
    margin: 20px 0 0 0;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.contact p {
    color: var(--dark-grey);
}

form {
    margin: 15px 0;
}

form input {
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

form input,
form textarea {
    padding: 10px;
    width: 100%;
    margin: 0 0 15px 0;
    outline: none;
    border: 1px solid var(--neutral-black);
}

form textarea {
    height: 200px;
    resize: none;
}

.follow-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 50px 0;
}

.follow-me p {
    margin: 20px 0 0 0;
}

.social {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.social__img {
    width: 20px;
    margin: 0 15px 0 0;
}

.error-text {
    color: var(--bright-orange);
    text-transform: uppercase;
    font-size: 0.75em;
    display: block;
}

.alert {
    float: none;
    display: flex;
    opacity: 0;
    margin: 0 0 15px 0;
    transition: all 0.5s ease-out;
}

.alert__img {
    width: 20px;
    margin: 0 5px 0 0;
}

@media (min-width: 768px) {
    header {
        padding: 20px 50px;
    }

    .btn {
        font-size: 1.125em;
    }

    .menu {
        display: none;
    }

    nav {
        display: block;
    }

    .nav__item {
        display: inline;
        margin: 0 20px 0 0;
    }

    .nav__link {
        transition: all 0.2s ease-in-out;
    }

    .nav__item:hover .nav__link {
        color: var(--bright-orange);
    }

    .display1 {
        font-size: 2.5em;
    }

    .display2 {
        font-size: 2.1875em;
    }

    .intro {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .intro .display1 {
        margin: 0 0 30px 0;
    }

    .intro .display2 {
        margin: 0 0 50px 0;
    }

    .intro__img {
        width: 250px;
        order: 2;
        margin: 0;
    }

    .intro__container {
        width: 50%;
    }

    .typewriter {
        font-size: 1.875em;
    }
    
    .work {
        padding: 50px;
    }

    .work__img {
        width: 70%;
    }

    .slider {
        width: 100%;
    }

    .about {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 80px;
        line-height: 2;
    }

    .my-skills {
        padding: 20px;
    }

    .about__container {
        justify-content: space-evenly;
    }

    .about .display1 {
        margin: 50px 0 0 0;
    }

    .contact {
        padding: 50px;
        height: auto;
    }

    .follow-me {
        margin: 50px 0;
    }

    .error-text {
        color: var(--bright-orange);
        text-transform: uppercase;
        font-size: 0.75em;
        display: block;
    }
    
    .alert {
        float: right;
        display: flex;
        opacity: 0;
        margin: 0;
        transition: all 0.5s ease-out;
    }
    
    .alert__img {
        width: 20px;
        margin: 0 5px 0 0;
    }
}

@media (min-width: 860px) {
    .about {
        align-items: center;
    }

    .about__container {
        flex-direction: row;
        align-items: flex-start;
    }

    .about-me {
        width: 45%;
    }

    .about-me p {
        margin: 40px 0 0 0;
        line-height: 2;
        text-align: justify;
    }

    .my-skills {
        width: 45%;
        padding: 20px;
        margin: 0;
    }

    .follow-me,
    .write-me {
        margin: 0;
        width: 45%;
    }

    .contact__container {
        display: flex;
        justify-content: space-between;
        margin: 50px 0 0 0;
    }

    .github,
    .linkedin,
    .certificate {
        transition: all 0.3s ease-in-out;
    }

    .github:hover,
    .linkedin:hover,
    .certificate:hover {
        color: var(--bright-orange);
    }
}

@media (min-width: 1350px) {
    .display1 {
        font-size: 3.75em;
    }

    .display2 {
        font-size: 3.4375em;
    }

    .btn {
        font-size: 1.25em;
    }

    .intro {
        padding: 50px 100px;
    }

    .intro__img {
        width: 480px;
    }

    .typewriter {
        font-size: 2.5em;
    }

    .work {
        padding: 50px 100px;
    }

    .work__img-wrapper {
        background-image: url(../images/computer.svg);
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
    }
    .work__img {
        width: 50%;
    }

    .slider {
        opacity: 0;
        transform: translate(0, 100px);
        transition: all 0.5s ease-in-out;
    }
    
    .slick-slider {
        position: relative;
    }

    .about {

        padding: 50px 100px;
    }

    .about-me {
        width: 35%;
    }

    .my-skills {
        width: 35%;
        padding: 50px;
    }

    .contact {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 50px 100px;
    }

    .follow-me .display3 {
        margin: 0 0 30px 0;
    }

    .follow-me p {
        margin: 30px 0 0 0;
    }
}