section#about.section--space
  div.container
    div.row
      div.col-lg-7.col-md-9
        div.about__description
          h1.section-title Hi, I'm Greta!
            span.red-flash
          p I'm 21 years old web developer. I have experience in web design as well. I found web coding just few years back and ever since I coudn't be more passionate about it. I hope to find a place to put all my skills to work and prove my worth!
      div.w-100
    div.row.justify-content-xl-between.row-about
      div.col-xl-4.col-lg-4.col-md-6
        div.about__card
          h2 Technologies / Tools
          ul.about__card__list
            li HTML5
            li CSS3
            li JavaScript
            li PHP
            li Git
            li Gulp
            li Webpack
      div.col-xl-4.col-lg-4.col-md-6
        div.about__card
          h2 Libraries / Frameworks
          ul.about__card__list
            li Sass
            li Pug.js
            li jQuery
            li Bootstrap
            li Wordpress
            li React.js, Redux, Router
      div.col-xl-4.col-lg-4.col-md-6
        div.about__card
          h2 Design
          ul.about__card__list
            li Adobe Illustrator
            li Adobe XD
            li Figma