section#about
  div.container
    div.row
      div.col-xl-8.col-lg-9.col-md-9
        div.about__description.js-about-description
          h1.section-title About
          p Hi, I'm Greta!
          p I am passionate Front-End Developer and UX / UI Designer. I have been learning and improving my skills in both fields for 3+ years. I always have been creative and curious person so creating / crafting new websites gives me challenge and purpose to serve accessible interactions &amp; experiences.
      div.w-100
    div.row.justify-content-xl-between.row-about
      div.col-xl-4.col-lg-4.col-md-4
        div.about__card.js-about-card
          h2.about__card__title Web Development
          ul.about__card__list
            li HTML5, CSS3, Sass
            li JavaScript, jQuery
            li React.js, Redux, Router
            li Gulp, Webpack
            li Pug.js
            li Git
      div.col-xl-4.col-lg-4.col-md-4
        div.about__card.js-about-card
          h2.about__card__title Web Design
          ul.about__card__list
            li UX / UI
            li Wireframing, Prototyping
            li Design Thinking
            li Layout, Colors, Typography
            li Responsive Design
      div.col-xl-4.col-lg-4.col-md-4
        div.about__card.js-about-card
          h2.about__card__title Tools
          ul.about__card__list
            li Adobe Photoshop
            li Adobe Illustrator
            li Adobe XD
            li Figma