section#about
  .container
    .row
      .col-md-7
        .about__description.js-about-description
          h1.section-title About
          p Hi, I'm Greta!
          p I am passionate Front-End Developer and UX / UI Designer. I always have been creative and curious person so creating / crafting new websites gives me challenge and purpose to serve accessible interactions &amp; experiences.
      .w-100
    .row.justify-content-xl-between.row-about
      .col-xl-4.col-lg-4.col-md-4
        .about__card.js-about-card
          h2.about__card__title Web Development
          ul.about__card__list
            li HTML5, CSS3, Sass
            li JavaScript, jQuery
            li React.js, Redux, Router
            li Gulp, Webpack
            li Pug.js
            li Git
      .col-xl-4.col-lg-4.col-md-4
        .about__card.js-about-card
          h2.about__card__title Web Design
          ul.about__card__list
            li UX / UI
            li Wireframing, Prototyping
            li Design Thinking
            li Layout, Colors, Typography
            li Responsive Design
      .col-xl-4.col-lg-4.col-md-4
        .about__card.js-about-card
          h2.about__card__title Tools
          ul.about__card__list
            li Adobe Photoshop
            li Adobe Illustrator
            li Adobe XD
            li Figma