section#about.section--space
  div.container
    div.row
      div.col-lg-7.col-md-9
        div.about__description
          h1.section-title Hi, I'm Greta!
            span.red-flash
          p I'm 22 years old Web Developer currently requalifying to UX/UI Design. I've been creating websites for the past year alongside learning and researching about user experience and user interface design. I hope to find a place to put all my skills to work and prove my worth!
      div.w-100
    div.row.justify-content-xl-between.row-about
      div.col-xl-4.col-lg-4.col-md-6
        div.about__card
          h2 Web Development
          ul.about__card__list
            li HTML5, CSS3, Sass
            li JavaScript, jQuery
            li React.js, Redux, Router
            li Gulp, Webpack
            li Pug.js
            li Git
      div.col-xl-4.col-lg-4.col-md-6
        div.about__card
          h2 Web Design
          ul.about__card__list
            li UX / UI
            li Wireframing, Prototyping
            li Design Thinking
            li Layout, Colors, Typography
            li Responsive Design
      div.col-xl-4.col-lg-4.col-md-6
        div.about__card
          h2 Tools
          ul.about__card__list
            li Adobe Photoshop
            li Adobe Illustrator
            li Adobe XD
            li Figma