section#contact
  .container
    .row
      .col
        h1.section-title.js-contact-title Contact
    .row.justify-content-md-between
      .col-md-4
        ul.contact__list
          li.js-contact-item
            a(href="https://www.behance.net/gretavaitiek" target="_blank")
              .contact__icon
                img(src="assets/img/icons/behance.svg", alt="Behance Icon")
              span Behance
          li.js-contact-item
            a(href="https://dribbble.com/gvaitiekunaite" target="_blank")
              .contact__icon
                img(src="assets/img/icons/dribbble.svg", alt="Dribbble Icon")
              span Dribbble
          li.js-contact-item
            a(href="https://github.com/GretaVait" target="_blank") 
              .contact__icon
                img(src="assets/img/icons/github.svg", alt="Github Icon")
              span Github
          li.js-contact-item
            a(href="https://www.linkedin.com/in/gvaitiekunaite/" target="_blank")
              .contact__icon
                img(src="assets/img/icons/linkedin.svg", alt="Linkedin Icon")
              span Linkedin
          //- li.js-contact-item
          //-   a(href="https://www.credential.net/283748cf-a8d3-43a3-90cf-810bd4915183" target="_blank") 
          //-     img(src="assets/img/icons/certificate.svg", alt="Certificate Icon")
          //-     span Certificate
      .col-md-7
        .js-contact-content
          p.contact__content If you are interested in working with me or want to propose a job offer I am always open to any suggestions. I am also looking for internship in UX / UI Design to gain hands-on experience.
          a.btn.btn--primary(href="mailto:gretavait@gmail.com") Email me!