section#intro
  div.container
    div.row
      div.col-lg-7.col-sm-12
        h1.section-title Hi there!
          span.red-flash
        h2.h2--bigger I'm a&nbsp; #[em Web Developer] based in Lithuania, Vilnius
      div.col-12
        h3.typewriting