section#work
  .container
    .row
      .col
        .work__toggle
          h1.section-title.work__toggle__switch.work__toggle__switch--active Case Studies
            span.red-flash
          h1.section-title.work__toggle__switch Development
            span.red-flash
    .row.work-hidden
      .col-md-6
        a(href="https://sos-vaikukaimai.lt/" target="_blank" style="background-color: #F0F8FC").work__item
          .work__item__logo
            img(src="assets/img/work/logo/sos-vaiku-kaimai.svg", alt="Sos vaikų kaimai logo")
      .col-md-6
        a(href="https://rinvest.lt/" target="_blank" style="background-color: #FCF2FF").work__item
          .work__item__logo
            img(src="assets/img/work/logo/rinvest.svg", alt="Rinvest logo")
      .col-md-6
        a(href="https://smartdaili-china.com/" target="_blank" style="background-color: #FFF2F4").work__item
          .work__item__logo
            img(src="assets/img/work/logo/smartproxy.svg", alt="Smartproxy logo")
      .col-md-6
        a(href="https://markid.eu/" target="_blank" style="background-color: #EBEEFF").work__item
          .work__item__logo
            img(src="assets/img/work/logo/markid.svg", alt="MarkID logo")
      .col-md-6
        a(href="https://react-js-indecision-app.herokuapp.com/" target="_blank" style="background-color: #FAF8FD").work__item
          .work__item__logo
            img(src="assets/img/work/logo/indecision.svg", alt="Indecision logo")
      .col-md-6
        a(href="https://reactjs-app-expensify.herokuapp.com/" target="_blank" style="background-color: #EDFCF6").work__item
          .work__item__logo
            img(src="assets/img/work/logo/expensify.svg", alt="Expensify logo")
    .row
      .col-md-6
        a(href="https://sos-vaikukaimai.lt/" target="_blank" style="background-color: #F0F8FC").work__item
          .work__item__logo
            img(src="assets/img/work/logo/sos-vaiku-kaimai.svg", alt="Sos vaikų kaimai logo")