section#work
  .container
    .row.work-toggle-row
      .col
        .work__toggle.js-work-toggle
          a(href="#tab1").work__toggle__switch.js-filter-btn.active Development
          a(href="#tab2").work__toggle__switch.js-filter-btn Case Studies
          a(href="#tab3").work__toggle__switch.js-filter-btn Daily UI
          a(href="#tab4").work__toggle__switch.js-filter-btn Illustrations
          span.active-line.js-active-line
    .row.work-row.active#tab1
      .col-md-6
        a(href="https://sos-vaikukaimai.lt/" target="_blank" style="background-color: #F0F8FC").work__item.js-work-item
          .work__item__logo
            img(src="assets/img/work/logo/sos-vaiku-kaimai.svg", alt="Sos vaikų kaimai logo")
      .col-md-6
        a(href="https://rinvest.lt/" target="_blank" style="background-color: #FCF2FF").work__item.js-work-item
          .work__item__logo
            img(src="assets/img/work/logo/rinvest.svg", alt="Rinvest logo")
      //- .col-md-6
      //-   a(href="https://smartdaili-china.com/" target="_blank" style="background-color: #FFF2F4").work__item.js-work-item
      //-     .work__item__logo
      //-       img(src="assets/img/work/logo/smartproxy.svg", alt="Smartproxy logo")
      .col-md-6
        a(href="https://markid.eu/" target="_blank" style="background-color: #EBEEFF").work__item.js-work-item
          .work__item__logo
            img(src="assets/img/work/logo/markid.svg", alt="MarkID logo")
      .col-md-6
        a(href="https://react-js-indecision-app.herokuapp.com/" target="_blank" style="background-color: #FAF8FD").work__item.js-work-item
          .work__item__logo
            img(src="assets/img/work/logo/indecision.svg", alt="Indecision logo")
      .col-md-6
        a(href="https://reactjs-app-expensify.herokuapp.com/" target="_blank" style="background-color: #EDFCF6").work__item.js-work-item
          .work__item__logo
            img(src="assets/img/work/logo/expensify.svg", alt="Expensify logo")
            
    .row.work-row#tab2
      .col-md-6
        a(href="https://www.behance.net/gallery/114269853/Grocery-Store-App-Design" target="_blank").work__item.js-work-item
          .work__item__img(style="background-image: url('assets/img/work/design/shopper.png')")

    .row.work-row#tab3
      .col-md-6
        a(href="https://dribbble.com/shots/15199000-Travel-Sign-Up-Form-DailyUI" target="_blank").work__item.js-work-item
          .work__item__img(style="background-image: url('assets/img/work/design/dailyui-form.png')")

    .row.work-row#tab4
      .col-md-6
        a(href="https://dribbble.com/shots/15192890-Food-Rush-Illustrations" target="_blank").work__item.js-work-item
          .work__item__img(style="background-image: url('assets/img/work/design/food-rush.png')")
