section#work
  .container
    .row
      .col
        h1.section-title Work
          span.red-flash
    div.row
      div.col-md-6
        a(href="javascript:void()" style="background-color: #F0F8FC").work__item
          .work__item__logo
            img(src="assets/img/work/logo/sos-vaiku-kaimai.svg", alt="Sos vaikų kaimai logo")
          //- .work__item__img(style="background-image: url('assets/img/work/2.png');")
      div.col-md-6
        a(href="javascript:void()" style="background-color: #FCF2FF").work__item
          .work__item__logo
            img(src="assets/img/work/logo/rinvest.svg", alt="Rinvest logo")
          //- .work__item__img(style="background-image: url('assets/img/work/rinvest.png');")
      div.col-md-6
        a(href="javascript:void()" style="background-color: #FFF2F4").work__item
          .work__item__logo
            img(src="assets/img/work/logo/smartproxy.svg", alt="Smartproxy logo")
          //- .work__item__img(style="background-image: url('assets/img/work/smartproxy.png');")
      div.col-md-6
        a(href="javascript:void()" style="background-color: #EBEEFF").work__item
          .work__item__logo
            img(src="assets/img/work/logo/markid.svg", alt="MarkID logo")
          //- .work__item__img(style="background-image: url('assets/img/work/markid.png');")