footer
//- Swiper
script(src="https://unpkg.com/swiper/swiper-bundle.js")
script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
//- jQuery
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
//- Bootstrap
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
//- GSAP ScrollMagic
script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
//- GSAP
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js")
//- GSAP animations
script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js")
//- Smooth Scrollbar
script(src="assets/js/min/smooth-scrollbar.js")
//- Main Script
script(src="assets/js/min/script-min.js")