head
  title Greta - Web Developer
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  //- Bootstrap
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
  //- Swiper
  link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.css")
  link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
  //- Main Styles
  link(rel="stylesheet" href="assets/css/style.css")
  //- Fonts
  link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap" rel="stylesheet")
  //- Favicons
  link(rel='icon' type='image/png' href='assets/img/favicon/favicon-27x27.ico' sizes='27x27')
  link(rel='icon' type='image/png' href='assets/img/favicon/favicon-32x32.png' sizes='32x32')
  link(rel='icon' type='image/png' href='assets/img/favicon/favicon-16x16.png' sizes='16x16')
  link(rel='icon' type='image/png' href='assets/img/favicon/favicon-16x16.ico' sizes='16x16')