header
  div(class="container")
    div(class="row")
      div(class="col")
        div(class="header__container")
          span(class="logo") Greta /&gt;
          div(class="menu" role="button")
            .menu__open 🍔
            .menu__closed ❌
            //- img(src="assets/img/illustrations/open_eye.svg", alt="Illustration Open Eye" class="menu__open")
            //- img(src="assets/img/illustrations/closed_eye.svg", alt="Illustration Closed Eye" class="menu__closed")
          nav#nav-primary
            ul
              li
                a(href="#work") Work
              li
                a(href="#about") About
              li
                a(href="#contact") Contact
              li
                a(href="assets/img/resume.pdf" target="_blank") Resume

#nav-mobile
  ul
    li
      a(href="#work") Work
    li
      a(href="#about") About
    li
      a(href="#contact") Contact
    li
      a(href="assets/img/resume.pdf" target="_blank") Resume
