doctype html
html(lang="en")
  include global/head
  body
    #page-container
      include global/header
      main
        include includes/intro
        include includes/work
        //- include includes/about
        //- include includes/contact
      include global/footer